{% extends "base.html" %}

{% block main %}
 
{% include 'flash_messages.html' %}
    <h1>Secure Page</h1>
   
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
       Non diam phasellus vestibulum lorem sed. Ultrices eros in cursus turpis massa.
        Nibh mauris cursus mattis molestie a. Euismod nisi porta lorem mollis.
         Hendrerit gravida rutrum quisque non tellus orci ac. 
       Fusce ut placerat orci nulla pellentesque dignissim enim. 
       Lacinia at quis risus sed vulputate odio ut enim. Eget sit amet tellus cras adipiscing.
        Mollis nunc sed id semper risus. Aliquet porttitor lacus luctus accumsan tortor posuere.
         Duis ut diam quam nulla.</p>
{% endblock %}